body{
    background-color: antiquewhite;
}
/* Inicio de la página */
/* servicios */

/* Proyectos */
.contenedor-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.contenedor-card{
    width: 350px;
    height: 50vh;
    border-radius: 15px;
    padding: 17px;
    background-color: rgb(176, 224, 214);
    text-align: justify;
    margin: 20px auto;
    transform: 0.5;
}
.contenedor-card:hover{
    transform: scale(1.05);
    transition: transform 1s ease;
}


/* Contacto */
